/* --- Web Fonts --- */

@font-face {
    font-family: 'ceragr-regularuploaded_file';
    src: url('../fonts/cera-gr-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-mediumuploaded_file';
    src: url('../fonts/cera-gr-medium-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* --- Basic CSS Reset --- */

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: #626262;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Why Couples Resort
    6. About & FAQ
    7. Contact Form
    8. Footer

*/

/* 1. ---General Styles--- */

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-weight: normal;
    font-size: 14px;
}

.cr-red {
    color: #9a2018;
}

.container {
    width: 320px;
    margin: 0 auto;
    background-color: #fff;
    border: solid 1px #333;
}

/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(4, 50px);
    grid-column-gap: 30px;
}

/* 3. ---Header--- */

#main-nav {
    grid-column: 1/-1;
}

#main-nav label img {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }
 
 #main-nav li:first-child {
     border-top: 1px solid #efefef;
 }
 
 #main-nav li:last-child {
     margin-bottom: 10px;
 }

#burger-con, #main-nav input {
    display: none;
}

 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }

 #logo {
    grid-column: 1/-1;
 }

/* 4. ---Main Hero Image--- */

#main-hero {
    margin-top: 20px;
}

#main-hero img {
    /* use sparingly */
    margin-left: -15px;
    margin-right: -15px;
    grid-column: 1/-1;
    grid-row: 1/3;
}

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 1s ease;
    cursor: pointer;
    grid-column: 3/-1;
    grid-row: 1/2;
    height: 67px;
 }

 .book-now:hover {
    box-shadow: inset 0px -120px 0px 0px rgb(196, 28, 28);
 }

 .hero-img-h2,  .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 15px 15px;
    font-size: 14px;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: end;
 }
 
 .hero-img-h2 span, .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 20px;
 }

 #hero-welcome {
    font-size: 14px;
    line-height: 22px;
 }

 #hero-welcome p {
    grid-column: 1/-1;
 }

 #hero-welcome h2 + p {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 20px;
 }

 #hero-contact {
    font-size: 12px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
 }

 #contact-con div {
    grid-column: span 4;
 }

 .fas {
    font-size: 50px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
 }
 
 .fa-mobile-alt {
    margin-left: 50px;
    margin-right: 13px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    margin-left: 47px;
    margin-right: 10px;
 }
 

/* 5. --- Why Couples Resort--- */

#why-choose-us-nav {
    padding-top: 20px;
    grid-column: 1/-1;
 }
 
 #why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #why-choose-us-nav ul li {
    margin-bottom: 15px;
 }
 
 #why-choose-us-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 #why-choose-us-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  }

#why-hero img {
    /* use sparingly */
    margin-left: -15px;
    margin-right: -15px;
    grid-column: 1/-1;
    grid-row: 1/3;
}

/* first-of-type will match the first occurrence of a specified element, even if it doesn’t come absolutely first in the HTML. */
#why-options section:first-of-type  {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 40px;
}

.why-us-img {
    grid-column: 1/-1;
    font-size: 12px;
}

.why-us-img img {
    float: left;
    margin-right: 10px;
}

.why-us-img h4 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.why-us-img a {
    color: inherit;
}

#why-choose-us-bottom-nav {
    background-color: #CF6666;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    grid-column: 1/-1;
 }
 
 #why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
 }
 
 #why-choose-us-bottom-nav ol li {
    display: inline;
    
 }
 
 #why-choose-us-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
    text-decoration: underline;
 }

 /* 6. ---About & FAQ --- */

 #about-hero img {
    /* use sparingly */
    margin-left: -15px;
    margin-right: -15px;
    grid-column: 1/-1;
    grid-row: 1/3;
}

#about-text div {
    grid-column: 1/-1;
}

#about-text-group1 {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 40px;
}

.faq {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }
 
 .faq h2 {
    font-size: 24px;
    grid-column: 1/-1;
    border-bottom: solid 3px #CF6666;
    margin-bottom: 50px;
    padding-bottom: 40px;
 }
 
 .faq h2 span {
    color: #9a2018;
    font-size: 16px;
 }
 
 .faq-items {
    margin-bottom: 16px;
    grid-column: 1/-1;
 }
 
 .faq-items h3 {
    background: #e8e7e7;
    padding: 10px;
    font-size: 15px;
 }
 
 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
 }   
 
 .faq-items a {
    color: inherit;
    font-size: 13px;
 }
 
 .faq-list-con {
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
/* 7. ---Contact Form--- */

#contact-form-hero img {
    /* use sparingly */
    margin-left: -15px;
    margin-right: -15px;
    grid-column: 1/-1;
    grid-row: 1/3;
}

#contact-form-text p {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 40px;
    grid-column: 1/-1;
    line-height: 22px;
    font-size: 16px;
 }

 #contact-form-adress-left {
    grid-column: 1/-1;
 }

 #contact-form-adress-left h3 {
    font-size: 22px;
    margin-bottom: 30px;
    font-family: 'ceragr-regularuploaded_file', arial, sans-serif;
 }

 #contact-form-adress-left p {
    line-height: 24px;
 }

 #contact-form-fields-right {
    grid-column: 1/-1;
 }

 #contact-form-fields-right form {
    display: flex;
    flex-direction: column;
 }
 
 #contact-form-fields-right input, textarea {
    padding: 14px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
 }
 
 #contact-form-fields-right textarea {
    height: 250px;
 }
 
 #contact-form-fields-right input[type="submit"] {
    padding: 12px 28px;
    background: #9a2018;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }

 #contact-form-fields-right input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
 }

/* .8 --- Footer --- */

#main-footer {
    background-image: url(../images/footer-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }

 #main-footer-contact-info {
    grid-column: 1/-1;
 }

 #main-footer-contact-info h3 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'ceragr-regularuploaded_file', arial, sans-serif;
 }

 #main-footer-contact-info p {
    line-height: 22px;
 }

 #main-footer nav {
    display: none;
 }

 #price-policy {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 30px;
    grid-column: 1/-1;
    line-height: 22px;
 }