/* --- Basic CSS Reset --- */

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Why Couples Resort
    6. About & FAQ
    7. Contact Form
    8. Footer

*/

/* 1. ---General Styles--- */

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-weight: normal;
    font-size: 14px;
}

.cr-red {
    color: #9a2018;
}

.container {
    width: 320px;
    margin: 0 auto;
    background-color: #fff;
    border: solid 1px #333;
}

/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(4, 50px);
    grid-column-gap: 30px;
}

/* 3. ---Header--- */

#main-nav {
    grid-column: 1/-1;
}

#main-nav button {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#burger-con {
    display: none;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }
 
 #main-nav li:first-child {
     border-top: 1px solid #efefef;
 }
 
 #main-nav li:last-child {
     margin-bottom: 10px;
 }

 #logo {
    grid-column: 1/-1;
 }

/* 4. ---Main Hero Image--- */

#main-hero {
    margin-top: 20px;
}

#main-hero img {
    /* use sparingly */
    margin-left: -15px;
    margin-right: -15px;
    grid-column: 1/-1;
    grid-row: 1/3;
}

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
    grid-column: 3/-1;
    grid-row: 1/2;
    height: 67px;
 }

 .hero-img-h2,  .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: end;
 }
 
 .hero-img-h2 span, .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
 }

 #hero-welcome {
    font-size: 14px;
    line-height: 22px;
 }

 #hero-welcome p {
    grid-column: 1/-1;
 }

 #hero-welcome h2 + p {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 20px;
 }

 #hero-contact {
    font-size: 12px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
 }

 #contact-con div {
    grid-column: span 4;
 }

 .fas {
    font-size: 50px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
 }
 
 .fa-mobile-alt {
    margin-left: 50px;
    margin-right: 13px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    margin-left: 47px;
    margin-right: 10px;
 }
 

/* 5. --- Why Couples Resort--- */

#why-choose-us-nav {
    padding-top: 20px;
    grid-column: 1/-1;
 }
 
 #why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #why-choose-us-nav ul li {
    margin-bottom: 15px;
 }
 
 #why-choose-us-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 #why-choose-us-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  }

#why-hero img {
    /* use sparingly */
    margin-left: -15px;
    margin-right: -15px;
    grid-column: 1/-1;
    grid-row: 1/3;
}

/* first-of-type will match the first occurrence of a specified element, even if it doesn’t come absolutely first in the HTML. */
#why-options section:first-of-type  {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 40px;
}

.why-us-img {
    grid-column: 1/-1;
    font-size: 12px;
}

.why-us-img img {
    float: left;
    margin-right: 10px;
}

.why-us-img h4 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.why-us-img a {
    color: inherit;
}

#why-choose-us-bottom-nav {
    background-color: #CF6666;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    grid-column: 1/-1;
 }
 
 #why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
 }
 
 #why-choose-us-bottom-nav ol li {
    display: inline;
    
 }
 
 #why-choose-us-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
    text-decoration: underline;
 }

 /* 6. ---About & FAQ --- */

 #about-hero img {
    /* use sparingly */
    margin-left: -15px;
    margin-right: -15px;
    grid-column: 1/-1;
    grid-row: 1/3;
}

#about-text div {
    grid-column: 1/-1;
}

#about-text-group1 {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 40px;
}
 
/* 7. ---Contact Form--- */

/* .8 --- Footer --- */